* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shoplist {
    width: 90vw;
    max-width: 1570px;
    margin: 1rem auto;
    display: grid;
    gap: 0.5rem;
}
.shop h1{
    color: #282a2c;
    margin: 1rem;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .shoplist {
        grid-template-columns: repeat(3, 1fr);
    }
}
.phone {
    padding: 1rem 2rem;
}
.phone p {
    margin-top: 0.5rem;
    line-height: 1.4rem;
}

.card_img_container{
    width: 286px;
    height: 180px;
}

.cart_card_img_container {
    width: 100px;
    height: 70px;
}

.center {
    text-align: center;
  }